/*  main css file for porfolio page */

body {
    font-family: Roboto, Helvetica, sans-serif;

}

.container {
    margin: auto;
    max-width: 1230px;
    padding-left: 135px;
    padding-right: 135px;
}

/* header styles */

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 45px;
}

.headertext {
    float: right;
    margin-top: 25px;
    text-align: right;
}

.headertext h1 {
    font-size: 60px;
}

.headertext h1,
.headertext h2 {
    text-transform: uppercase;
    color: #2d3c49;
    font-weight: 100;
    margin: 0px;
    transform: scale(1.1,1);
    margin-right: 25px;
}

hr {
    background-color: #7d97ad;
    height: 5px;
    border: none;
    margin-bottom: 40px;
}

/* main image styles */

.main_image {
    max-width: 1230px;
}

.main_image img{
    max-width:100%;
}

/* featured work styles */

.featured_work {
    color: #7d97ad;
    font-weight: 400;
    transform: scale(1.1,1);
    font-size: 45px;
    margin-left: 10px;
    float: left;
    margin-bottom: 10px;
}

/* project styles */

.project_container {
    clear: both;
    display: flex;
    flex-wrap: wrap;
}

.project {
    padding-right: 35px;
    margin-bottom: 55px;
}

.last {
    margin-bottom: 55px;
}

.project_container img {
    width: 386px;
    height: 246px;
    max-width: 100%;
}

.project_container h2 {
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 400;
    text-align: center;
    color: #2d3c49;
    margin-bottom: 10px;
    margin-top: 10px;
}

.project_container a {
    display: block;
    text-align: center;
    color: #2d3c49;
    text-decoration: none;

}

/* footer styles */

footer hr {
    margin-bottom: 5px;
}

.css_validator {
    float: left;
    margin-top: 0px;
}

.css_validator img {
    border: 0;
    width: 88px;
    height: 31px
}

.copyright {
    text-transform: uppercase;
    float: right;
    margin-top: 0px;
    color: #2d3c49;
}

/* responsive style breakpoints */

@media screen and (max-width: 1535px) {
    .container {
        padding-left: 67px;
        padding-right: 67px;
    }
}

@media screen and (max-width: 1000px) {
    .logo {
        height: 70px;
        width: auto;
    }
    .headertext h1 {
        font-size: 30px;
    }
    .headertext h2 {
        font-size: 15px;
    }
    .headertext {
        margin-top: 0px;
    }
    .container {
        padding-left: 5px;
        padding-right: 5px;
    }
    hr {
        margin-bottom: 20px;
    }
    .featured_work {
        font-size: 25px;
        margin-left: 5px;
    }
    .project_container h2 {
        font-size: 25px;
    }
    .project {
        padding-right: 25px;
    }
    .copyright {
        font-size: 0.75em
    }
}

@media screen and (max-width: 450px){
    .project {
        padding-right: 0px;
    }
}

@media screen and (max-width: 350px){
    .logo {
        height: 50px;
        width: auto;
    }
    .headertext h1 {
        font-size: 20px;
    }
    .headertext h2 {
        font-size: 10px;
    }
}
