/*  main css file for porfolio page */
body {
    box-sizing: border-box;
    font-family: Roboto,Helvetica, sans-serif;
}

#container {
    margin: auto;
    max-width: 1230px;
    /* background-color: Azure; */
    padding-left: 135px;
    padding-right: 135px;
}

header {
    margin-top:45px
}

#headertext {
    float: right;
    margin-top: 25px;
    text-align: right;
}

h1 {
    font-size: 60px;
}

h1, h2 {
    text-transform: uppercase;
    color: #2d3c49;
    font-weight: 100;
    margin: 0px;
    transform: scale(1.1,1);
    margin-right: 25px;
}

hr {
    background-color: #7d97ad;
    height: 5px;
    border: none;
    margin-bottom: 40px;
}

@media screen and (max-width: 1000px){
    #logo { height: 70px; width: auto; }
    h1 {font-size: 30px;}
    h2 {font-size: 15px;}
    #headertext {margin-top: 0px;}
    #container {padding-left: 5px; padding-right: 5px;}
    hr {margin-bottom: 20px}
}

@media screen and (max-width: 350px){
    #logo {height: 50px; width: auto;}
    h1 {font-size: 20px;}
    h2 {font-size: 10px;}
}


/* end header styles */

#main_image {
   /* background-color: lightgrey; */
    max-width: 1230px;
}

#main_image img{
    max-width:100%;
}
